.cart img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 15px;
}

.cart {
  border: 2px solid saddlebrown;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
